.buildpath
.DS_Store
.idea/
.vagrant
.project
.settings/
.*.sw*
.*.un~
build/
nbproject

__pycache__/
*.py[cod]

tmp/

docker-compose.local.yml

# Distribution / packaging
.Python
env/
venv/

.python-version